.HomeSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HomeSection__heading {
  align-items: center;
  display: flex;
  gap: 6px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.HomeSection__heading > a {
  align-items: center;
  color: #ffffff;
  display: flex;
  text-decoration: none;
}

.HomeSection__heading > a > h3 {
  font-size: 1.5rem;
}

.HomeSection__heading > a > h5 {
  font-size: 1rem;
}

.HomeSection__heading > a > h5,
.HomeSection__heading > a > svg {
  color: rgb(166, 166, 166);
}