.clips-container {
  display: flex;
  height: 471px;
  gap: 15px;
}

.clips-container > .first-column {
  flex: 8;
}

.clips-container > .second-column {
  justify-content: space-between;
  flex: 3;
  display: flex;
  flex-direction: column;
}
