.SingleArtist {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
  max-height: 269px;
}

.SingleArtist__image {
  border-radius: 4px;
  max-height: 269px;
}
.SingleArtist__cutout-container {
  position: absolute;
  right: -48px;
  top: -48px;
  min-width: 48px;
  min-height: 48px;
  visibility: hidden;
  transition: 0.3s;
}

.SingleArtist:hover .SingleArtist__image {
  opacity: 0.5;
}

.SingleArtist:hover .SingleArtist__cutout-container {
  visibility: visible;
  right: 0;
  top: 0;
}

.SingleArtist__cutout-container > .pattern {
  min-width: 48px;
  min-height: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.bg-color-black {
  background-color: #000000;
}

.bg-color-salmon {
  background-color: rgb(255 102 102);
}
