.SearchBar {
  width: 1040px;
  height: 52px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
}

.SearchBar form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar__input-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

.SearchBar__Placeholder {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 0;
  color: rgb(166, 166, 166);
}

.SearchBar__Placeholder__options {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  height: 400%;
  margin-left: 10px;
  z-index: 0;
}

.SearchBar__Placeholder__options p {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
}

.SearchBar input {
  background-color: transparent;
  border: 0;
  padding: 10px;
  width: 100%;
  z-index: 2;
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar__Placeholder__options {
  transform: translateY(0px);
  animation: 5s ease 0s infinite normal none running gVMIwq;
}

.SearchBar button {
  align-items: center;
  background: linear-gradient(
    45deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 100%
  );
  color: #ffffff;
  cursor: pointer;
  display: flex;
  min-height: 52px;
  justify-content: center;
  min-width: 52px;
}

@keyframes gVMIwq {
  0% {
    transform: translateY(0px);
  }

  45% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
  }

  95% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(-100px);
  }
}
