.SearchBarDropdown {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 3;
}

.SearchBarDropdown>a {
    border-bottom: #000000 dotted 1px;
    color:#000000;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.SearchBarDropdown>a:last-of-type {
    border-bottom: none;
}