.Header {
  align-items: center;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}

.cliphy-logo {
  width: 165px;
  filter: brightness(0) invert(1);
  margin-top: 12px;
}

.Header__buttons {
  display: flex;
  gap: 2px;
  cursor: pointer;
  margin-top: 10px;
  background-size: 200% 50%;
}

.Header__buttons button {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
  width: 75px;
  height: 35px;
  padding: 8.5px 16px;
  display: inline-block;
}
