.NavBar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin: 10px 0px 0px 14px;
  max-width: 496px;
}

.NavBar__link-wrapper {
  align-items: flex-start;
  display: flex;
  height: 35px;
  margin-right: 4px;
}

.NavBar__link-wrapper.reactions {
  background: linear-gradient(90deg, #43e0ff 0%, #456ffc 75%);
}
.NavBar__link-wrapper.entertainment {
  background: linear-gradient(90deg, #456ffc 0%, #7145fc 69%);
}
.NavBar__link-wrapper.sports {
  background: linear-gradient(90deg, #7145fc 0%, #a945fc 71%, #c445fc 92%);
}
.NavBar__link-wrapper.stickers {
  background: linear-gradient(90deg, #c445fc 0%, #ef45fc 75%);
}
.NavBar__link-wrapper.artists {
  background: linear-gradient(90deg, #ef45fc 0%, #fc45c5 62%);
}
.NavBar__link-wrapper.more-vert-icon {
  background: linear-gradient(90deg, #fc45c5 0%, #fc4584 76%);
  cursor: pointer;
}

.NavBar .menu-button {
  align-items: center;
  background-color: #000000;
  display: flex;
  font-size: .9375rem;
  font-weight: 600;
  height: 30px;
  padding: 10px;
}

.NavBar .menu-button:hover {
  background-color: transparent;
}

.NavBar a {
  color: #ffffff;
  text-decoration: none;
}
