.SearchBar {
  width: 1040px;
  height: 50px;
  border: 1x solid black;

  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
}

.SearchBar form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar__input-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

.SearchBar__Placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  /* user-select: none; */
  background-color: rgb(255, 255, 255);
  left: 10px;
  top: 0;
  color: rgb(166, 166, 166);
}

.SearchBar__Placeholder__options {
  z-index: 0;
  height: 400%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.SearchBar__Placeholder__options p {
  height: 100%;
  display: flex;
  align-items: center;
}

.SearchBar input {
  width: 100%;
  z-index: 1;
  background-color: transparent;
  border: 0;
  padding: 10px;
}

.SearchBar input:focus-visible {
  border: 0;
}

.SearchBar__Placeholder__options {
  transform: translateY(0px);
  animation: 5s ease 0s infinite normal none running gVMIwq;
}

.SearchBar button {
  width: 52px;
  height: 52px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@keyframes gVMIwq {
  0% {
    transform: translateY(0px);
  }

  45% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
  }

  95% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(-100px);
  }
}
