body {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    font-family: interface, "Helvetica Neue", helvetica, sans-serif;
    /* font-size: 16px;
    font-weight: normal;
    height: 100%;
    letter-spacing: 0px;
    margin: 0px auto;
    min-height: 500px;
    overflow-y: scroll;
    text-align: left;
    width: 1040px;
    min-width: 1040px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    line-height: unset;
    list-style: none; */
}

.visibility-hidden {
    visibility: hidden;
}

.width-1040 {
    width: 1040px;
    margin: 0 auto;
}



