body {
  background-color: #121212;
  color: #ffffff;
  font-family: InterFace, sans-serif;
  margin: 0
}

.visibility-hidden {
  visibility: hidden;
}

.width-1040 {
  width: 1040px;
  margin: 0 auto;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

body h1 {
  font-family: "Inter", sans-serif;
  font-size: 26px;
}

body p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}




